# Ignore node_modules folder
node_modules

# Ignore package-lock file
package-lock.json

# Ignore videos folder
cypress/videos

# Ignore download folder
cypress/downloads

# Ignore screenshots
cypress/screenshots

# Ignore fixtures
cypress/fixtures/data.json

# Ignore cypress.config
cypress.config.js
