# Ignore node_modules folder
node_modules

# Ignore package-lock file
package-lock.json

# Ignore videos folder
/videos

# Ignore download folder
/downloads

# Ignore screenshots
/screenshots

# Ignore fixtures
/fixtures/data.json

# Ignore cypress.config
/cypress.config.js

